.form{
    padding : 40px 0;
}
.upload{
    margin : 30px 20px !important;
}
.error{
    color : #ff0000;
    font-size: 13px;
    text-align: left;
}
.img{
    max-width: 100%;
    height: auto;
    padding : 30px;
}
.note{
    padding : 30px 10px;
}