.newIdbtn{
    position : absolute;
    bottom : 40px;
    right : 40px;
    cursor: pointer;
}
.profile{
    min-height : 100vh;
    padding : 100px 10% 20px 10%;
    text-align: center;
}
.ids{
    align-items: center;
    padding : 50px;
}
.id{
    margin : 30px 0;
}