.request{
    padding : 20px 0;
}
.req{
    border-radius: 10px;
    padding : 10px;
    overflow-wrap: anywhere;
    margin : 20px 0;
}
.cl1{
    background-color : rgba(46, 125, 50, 0.3);
}
.cl2{
    background-color:rgba(25, 118, 210, 0.3);
}
.cl3{
    background-color: rgba(211, 47, 47, 0.3);
}
.reqBtn{
    margin : 4px !important;
}